@tailwind base;
@tailwind components;
@tailwind utilities;

*:transition {
    transition: all 0.2s ease;
}

a {
    color: inherit !important;
    text-decoration: none !important;
}

.nav-link {
    margin-top: 10px;
    font-size: 1.2rem !important;
    height: 52px !important;
}

.nav-tabs .nav-link::after {
    height: 4px !important;
}
