@import "tailwindcss";

@theme {
    --font-sans: "Campton", sans-serif;
}

html,
body {
    font-family: "Campton", sans-serif !important;
}

.cart-drawer {
    width: 100% !important;
    max-width: 500px !important;
}

.n-carousel
    .n-carousel__dots.n-carousel__dots--dot
    .n-carousel__dot.n-carousel__dot--active {
    width: 1.5rem;
    border-radius: 1rem;
}
