@import url("https://fonts.cdnfonts.com/css/br-shape");

html,
body {
    font-family: "BR Shape", sans-serif !important;
}

.cart-drawer {
    width: 100% !important;
    max-width: 500px !important;
}
