@import "tailwindcss";

@theme {
    --font-sans: "DM Sans", sans-serif;
}

html,
body {
    font-family: "DM Sans", sans-serif !important;
}

.cart-drawer {
    width: 100% !important;
    max-width: 500px !important;
}

.n-carousel
    .n-carousel__dots.n-carousel__dots--dot
    .n-carousel__dot.n-carousel__dot--active {
    width: 1.5rem;
    border-radius: 1rem;
}

.n-collapse
    .n-collapse-item
    .n-collapse-item__header
    .n-collapse-item__header-main {
    justify-content: space-between;
}
